body {
    background-image: url(../images/5-dots.png)
}

.header {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 185px;
    float: left;
    margin: 1%;
    padding: .8%;
    position: relative;
    left: 260px;
    bottom: 14px;
}

.mainHeader {
    background-color: #ffffff;
    border-style: outset;
    border-color: #cccccc;
    margin: auto;
    padding: 30px;

}

.footer{
    background-color: #666666;
    display: block;
    padding: 0px;
    align-content: center;
    margin: auto;
    border-top: 8px solid;
    border-color: #4aaaa5;
    position: relative;
    top: 70px;
    display: flex;
    align-items: center;
}

.mainContent {
    background-color: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    width: 960px;
    flex-wrap: wrap;
    color: #777777;
    margin: auto;
    padding-top: 0px;
    position: relative;
    top: 25px;
    
}

.image {
    height: 250px;
    width: 350px;
    align-content: left;
    
}

.navbar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    float: right;
    display: inline-block;


}

.mainContentHeader {
    color: #4aaaa5;
}

.line {
    color: #dddddd;

}

.navbarText {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    font-size: large;

}

.nav{
    list-style-type:none;
margin:0;
padding:0;
position:relative;
display:inline-block;

}

li {
    float: right;
    display: inline-block;
    position: relative;
    right: 50px;
    top: 10px;
    padding: 15px;
}

.rightBorder {
    border-right: solid #cccccc;
}

.footerText { 
    float: center;
    text-align: center;
}

.mainText {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    vertical-align: right;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .portfolioBanner {
      position: absolute;
      text-align: center;
      background-color: #4aaaa5;

  }

.portfolioImage {
    height: 120px;
    width: 150px;
    display: flex;
    padding: 5px;
    margin: auto;
}